<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195730351477-gcpd7ukkjulbrltsogsrl69ss0k0mtqa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195730351477-gcpd7ukkjulbrltsogsrl69ss0k0mtqa</string>
	<key>API_KEY</key>
	<string>AIzaSyDBF1X8HJxkVB7eB5gZWEYaqYojaE2669o</string>
	<key>GCM_SENDER_ID</key>
	<string>195730351477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.StayTuneApp</string>
	<key>PROJECT_ID</key>
	<string>staytuneauthorization</string>
	<key>STORAGE_BUCKET</key>
	<string>staytuneauthorization.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195730351477:ios:64ab81eaa7943af3f29f3c</string>
</dict>
</plist>